.header {
  width: 100%;
  height: 85vh;
}

.about {
  padding: 20rem 0;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12.8rem;
    row-gap: 4.8rem;
  }
}

.features {
  padding: 25rem 0;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url("/imgs/nat-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: space-arount;
    gap: 5rem;
  }

  transform: skewY(-5deg);

  & > * {
    transform: skewY(5deg);
  }
}

.tours {
  padding: 15rem 0;

  &__cardcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.4rem;
  }

  &__btn {
    grid-column: 2 / 3;
    justify-self: center;
    margin-top: 3.2rem;
  }
}

.stories {
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  position: relative;
}

.book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to bottom left,
    $color-primary-light,
    $color-primary-dark
  );

  // rgba($color-white, 0.7)
  &__container {
    background-image: linear-gradient(
        75deg,
        transparent 0%,
        transparent 50%,
        rgba($color-white, 0.85) 50%
      ),
      url(/imgs/nat-10.jpg);

    background-size: cover;
    margin: 0 auto;
    // height: 60rem;

    &__right {
      width: 50%;
      padding: 4.8rem;
    }
  }

  &__heading {
    padding: 4.8rem 0;
  }
}
